.detailsTableContianer {
  height: 25rem;
  overflow-y: scroll;
  box-shadow: rgb(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(234, 226, 255);
  scrollbar-width: none;
}

.heading {
  text-align: left;
  padding: 0.25rem;
}
.cell {
  text-align: left;
  padding: 0.25rem;
}

.row {
  border: 0.5px solid grey;
}
