@import "../../styles/index";

.mainContainer {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.recipeDetails {
  display: flex;
  justify-content: center;
  width: 52rem;
  box-shadow: $box-shadow-primary;
}

.imageContainer {
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 25rem;
  height: 25rem;
  overflow: hidden;
}

.imageContainer img {
  width: auto;
  height: 100%;
}

.ingredientsContiner {
  padding: 1rem;
  width: 25rem;
}

.title {
  color: $color-purple-primary;
  font-weight: 600;
}

.infoContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.addToFavouriteBtn {
  border: 0px;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: $box-shadow-primary;
  background-color: $color-purple-primary;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: $color-purple-hover;
  }
}
