.mainContainer {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.recipeDetails {
  display: flex;
  justify-content: center;
  width: 52rem;
  box-shadow: rgb(0, 0, 0, 0.24) 0px 3px 8px;
}

.imageContainer {
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 25rem;
  height: 25rem;
  overflow: hidden;
}

.imageContainer img {
  width: auto;
  height: 100%;
}

.ingredientsContiner {
  padding: 1rem;
  width: 25rem;
}

.title {
  color: rgb(98, 50, 212);
  font-weight: 600;
}

.infoContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
